/* Tooltip container */
[data-tooltip] {
    position: relative;
    cursor: help;
}

/* Tooltip text */
[data-tooltip]:before {
    content: attr(data-tooltip);
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--color-primary);
    font-size: 0.8rem;
    line-height: 1.4;
    font-weight: normal;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: "";
    visibility: hidden;
    position: absolute;
    top: -5px;
    /* Adjust according to arrow size */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    bottom: 115%;
    /* Match tooltip text position */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when hovering the container */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Specific fix for artifacts bar at the top of the screen */
.artifact-tag[data-tooltip]:before {
    bottom: auto;
    top: 135%;
}

.artifact-tag[data-tooltip]:after {
    bottom: auto;
    top: 115%;
    border-color: transparent transparent #333 transparent;
}